In [23]:
# import required modules

import pandas as pd
from pathlib import Path
import numpy as np

In [24]:
# read and review original dataset

df = pd.read_csv(Path("Resources/american_bankruptcy_dataset.csv"))
df

,company_name,status_label,year,X1,X2,X3,X4,X5,X6,X7,...,X9,X10,X11,X12,X13,X14,X15,X16,X17,X18
0,C_1,alive,1999.0,511.267,833.107,18.373,89.031,336.018,35.163,128.348,...,1024.333,740.998,180.447,70.658,191.226,163.816,201.026,1024.333,401.483,935.302
1,C_1,alive,2000.0,485.856,713.811,18.577,64.367,320.590,18.531,115.187,...,874.255,701.854,179.987,45.790,160.444,125.392,204.065,874.255,361.642,809.888
2,C_1,alive,2001.0,436.656,526.477,22.496,27.207,286.588,-58.939,77.528,...,638.721,710.199,217.699,4.711,112.244,150.464,139.603,638.721,399.964,611.514
3,C_1,alive,2002.0,396.412,496.747,27.172,30.745,259.954,-12.410,66.322,...,606.337,686.621,164.658,3.573,109.590,203.575,124.106,606.337,391.633,575.592
4,C_1,alive,2003.0,432.204,523.302,26.680,47.491,247.245,3.504,104.661,...,651.958,709.292,248.666,20.811,128.656,131.261,131.884,651.958,407.608,604.467
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78677,C_8971,alive,2014.0,233.211,43.338,14.094,45.615,3.376,25.261,22.846,...,104.223,1099.101,184.666,31.521,60.885,28.197,28.095,104.223,225.887,58.608
78678,C_8971,alive,2015.0,105.559,59.184,42.592,202.133,2.288,129.688,54.611,...,291.153,1865.926,770.103,159.541,231.969,88.128,157.783,291.153,880.327,89.020
78679,C_8971,alive,2016.0,63.971,69.074,65.057,79.051,2.581,-1.442,42.467,...,169.858,1746.235,683.985,13.994,100.784,85.765,156.341,169.858,770.233,90.807
78680,C_8971,alive,2017.0,135.207,66.527,65.330,69.171,2.013,-20.401,27.217,...,161.884,1736.110,694.035,3.841,95.357,82.010,135.941,161.884,776.697,92.713
78681,C_8971,alive,2018.0,82.589,68.817,65.201,67.262,2.112,-50.946,45.839,...,160.513,1625.370,632.122,2.061,91.696,79.365,84.995,160.513,712.687,93.251

In [25]:
# count number of labeled status values

df["status_label"].value_counts()

alive     73462
failed     5220
Name: status_label, dtype: int64

In [26]:
# transform string value to numerical value

df["status"] = np.where(df["status_label"] == 'alive', 0, 1)

In [27]:
# verify counts matches with original column

df["status"].value_counts()

0    73462
1     5220
Name: status, dtype: int64

In [28]:
# set column names

columns = ["company_name", "status_label", "year", "current_assets", "cost_of_goods_sold", "depreciation_and_amortization", "EBITDA", "inventory", "net_income", "total_receivables", "market_value", "net_sales", "total_assets", "total_long_term_debt", "EBIT", "gross_profit", "total_current_liabilities", "retained_earnings", "total_revenue", "total_liabilities", "total_operationg_expenses", "status"]
df.columns = columns

In [29]:
# drop categorical values and review data

df = df.drop(columns=["company_name", "status_label", "year"])
df

,current_assets,cost_of_goods_sold,depreciation_and_amortization,EBITDA,inventory,net_income,total_receivables,market_value,net_sales,total_assets,total_long_term_debt,EBIT,gross_profit,total_current_liabilities,retained_earnings,total_revenue,total_liabilities,total_operationg_expenses,status
0,511.267,833.107,18.373,89.031,336.018,35.163,128.348,372.7519,1024.333,740.998,180.447,70.658,191.226,163.816,201.026,1024.333,401.483,935.302,0
1,485.856,713.811,18.577,64.367,320.590,18.531,115.187,377.1180,874.255,701.854,179.987,45.790,160.444,125.392,204.065,874.255,361.642,809.888,0
2,436.656,526.477,22.496,27.207,286.588,-58.939,77.528,364.5928,638.721,710.199,217.699,4.711,112.244,150.464,139.603,638.721,399.964,611.514,0
3,396.412,496.747,27.172,30.745,259.954,-12.410,66.322,143.3295,606.337,686.621,164.658,3.573,109.590,203.575,124.106,606.337,391.633,575.592,0
4,432.204,523.302,26.680,47.491,247.245,3.504,104.661,308.9071,651.958,709.292,248.666,20.811,128.656,131.261,131.884,651.958,407.608,604.467,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78677,233.211,43.338,14.094,45.615,3.376,25.261,22.846,756.4827,104.223,1099.101,184.666,31.521,60.885,28.197,28.095,104.223,225.887,58.608,0
78678,105.559,59.184,42.592,202.133,2.288,129.688,54.611,527.5750,291.153,1865.926,770.103,159.541,231.969,88.128,157.783,291.153,880.327,89.020,0
78679,63.971,69.074,65.057,79.051,2.581,-1.442,42.467,578.8868,169.858,1746.235,683.985,13.994,100.784,85.765,156.341,169.858,770.233,90.807,0
78680,135.207,66.527,65.330,69.171,2.013,-20.401,27.217,412.6241,161.884,1736.110,694.035,3.841,95.357,82.010,135.941,161.884,776.697,92.713,0
78681,82.589,68.817,65.201,67.262,2.112,-50.946,45.839,354.1786,160.513,1625.370,632.122,2.061,91.696,79.365,84.995,160.513,712.687,93.251,0

In [30]:
# save cleaned data to new csv file

df.to_csv(Path("Resources/relabeled_data.csv"), index=False)

In [31]:
# import and review new csv file

renamed_df = pd.read_csv(Path("Resources/relabeled_data.csv"))
renamed_df

,current_assets,cost_of_goods_sold,depreciation_and_amortization,EBITDA,inventory,net_income,total_receivables,market_value,net_sales,total_assets,total_long_term_debt,EBIT,gross_profit,total_current_liabilities,retained_earnings,total_revenue,total_liabilities,total_operationg_expenses,status
0,511.267,833.107,18.373,89.031,336.018,35.163,128.348,372.7519,1024.333,740.998,180.447,70.658,191.226,163.816,201.026,1024.333,401.483,935.302,0
1,485.856,713.811,18.577,64.367,320.590,18.531,115.187,377.1180,874.255,701.854,179.987,45.790,160.444,125.392,204.065,874.255,361.642,809.888,0
2,436.656,526.477,22.496,27.207,286.588,-58.939,77.528,364.5928,638.721,710.199,217.699,4.711,112.244,150.464,139.603,638.721,399.964,611.514,0
3,396.412,496.747,27.172,30.745,259.954,-12.410,66.322,143.3295,606.337,686.621,164.658,3.573,109.590,203.575,124.106,606.337,391.633,575.592,0
4,432.204,523.302,26.680,47.491,247.245,3.504,104.661,308.9071,651.958,709.292,248.666,20.811,128.656,131.261,131.884,651.958,407.608,604.467,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78677,233.211,43.338,14.094,45.615,3.376,25.261,22.846,756.4827,104.223,1099.101,184.666,31.521,60.885,28.197,28.095,104.223,225.887,58.608,0
78678,105.559,59.184,42.592,202.133,2.288,129.688,54.611,527.5750,291.153,1865.926,770.103,159.541,231.969,88.128,157.783,291.153,880.327,89.020,0
78679,63.971,69.074,65.057,79.051,2.581,-1.442,42.467,578.8868,169.858,1746.235,683.985,13.994,100.784,85.765,156.341,169.858,770.233,90.807,0
78680,135.207,66.527,65.330,69.171,2.013,-20.401,27.217,412.6241,161.884,1736.110,694.035,3.841,95.357,82.010,135.941,161.884,776.697,92.713,0
78681,82.589,68.817,65.201,67.262,2.112,-50.946,45.839,354.1786,160.513,1625.370,632.122,2.061,91.696,79.365,84.995,160.513,712.687,93.251,0

In [32]:
# import modules required for data modification

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from imblearn.combine import SMOTEENN

In [33]:
# split data into X and y
X = renamed_df.drop(columns="status")
y = renamed_df["status"]
display(X.tail())
display(y.tail())

,current_assets,cost_of_goods_sold,depreciation_and_amortization,EBITDA,inventory,net_income,total_receivables,market_value,net_sales,total_assets,total_long_term_debt,EBIT,gross_profit,total_current_liabilities,retained_earnings,total_revenue,total_liabilities,total_operationg_expenses
78677,233.211,43.338,14.094,45.615,3.376,25.261,22.846,756.4827,104.223,1099.101,184.666,31.521,60.885,28.197,28.095,104.223,225.887,58.608
78678,105.559,59.184,42.592,202.133,2.288,129.688,54.611,527.5750,291.153,1865.926,770.103,159.541,231.969,88.128,157.783,291.153,880.327,89.020
78679,63.971,69.074,65.057,79.051,2.581,-1.442,42.467,578.8868,169.858,1746.235,683.985,13.994,100.784,85.765,156.341,169.858,770.233,90.807
78680,135.207,66.527,65.330,69.171,2.013,-20.401,27.217,412.6241,161.884,1736.110,694.035,3.841,95.357,82.010,135.941,161.884,776.697,92.713
78681,82.589,68.817,65.201,67.262,2.112,-50.946,45.839,354.1786,160.513,1625.370,632.122,2.061,91.696,79.365,84.995,160.513,712.687,93.251

78677    0
78678    0
78679    0
78680    0
78681    0
Name: status, dtype: int64

In [34]:
# split data to train and test

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [35]:
# resample training data

smoteen_resampler = SMOTEENN(random_state=1)
X_train_resampled, y_train_resampled = smoteen_resampler.fit_resample(X_train, y_train)
display(y_train_resampled.value_counts())

1    54286
0    42836
Name: status, dtype: int64

In [36]:
# apply standard scaler

X_scaler = StandardScaler()
X_train_resampled_scaled = X_scaler.fit_transform(X_train_resampled)
X_test_scaled = X_scaler.fit_transform(X_test)
display(X_train_resampled_scaled.shape)
display(y_train_resampled.shape)
display(X_test_scaled.shape)
display(y_test.shape)

(97122, 18)

(97122,)

(19671, 18)

(19671,)

In [37]:
# combine and save training file

train = pd.concat([pd.DataFrame(X_train_resampled_scaled), pd.Series(y_train_resampled)], axis=1)
train.columns = renamed_df.columns
train.to_csv(Path("Resources/training_dataset.csv"), index=False)
train

,current_assets,cost_of_goods_sold,depreciation_and_amortization,EBITDA,inventory,net_income,total_receivables,market_value,net_sales,total_assets,total_long_term_debt,EBIT,gross_profit,total_current_liabilities,retained_earnings,total_revenue,total_liabilities,total_operationg_expenses,status
0,-0.223015,-0.191628,-0.204262,-0.181406,-0.189655,-0.055397,-0.211859,-0.166545,-0.207838,-0.228948,-0.244217,-0.151618,-0.203660,-0.213959,-0.049519,-0.207838,-0.236009,-0.202422,0
1,-0.184189,-0.189594,-0.192817,-0.158267,-0.189655,-0.033903,-0.193734,-0.123255,-0.196304,-0.212388,-0.244265,-0.125378,-0.171984,-0.192915,-0.023484,-0.196304,-0.228681,-0.193691,0
2,0.510479,-0.095761,-0.084416,0.225866,0.038562,0.432976,0.000673,0.553507,0.020899,0.211041,0.067925,0.348769,0.292991,-0.054960,0.296254,0.020899,0.016249,-0.019397,0
3,-0.223280,-0.191859,-0.204486,-0.181829,-0.189626,-0.055645,-0.212348,-0.166592,-0.208299,-0.229062,-0.244265,-0.152091,-0.204573,-0.213212,-0.048156,-0.208299,-0.235820,-0.202867,0
4,-0.004629,-0.168299,-0.027731,0.103747,-0.088193,0.181307,-0.089004,0.104369,-0.109428,-0.040278,-0.104691,0.154984,0.052460,-0.101567,-0.093584,-0.109428,-0.120615,-0.144726,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97117,-0.219329,-0.190852,-0.203749,-0.182927,-0.186612,-0.058265,-0.209514,-0.165374,-0.206793,-0.227825,-0.243471,-0.153940,-0.202192,-0.213059,-0.052323,-0.206793,-0.235422,-0.200938,1
97118,-0.222145,-0.179354,-0.199686,-0.178509,-0.188863,-0.055773,-0.211300,-0.166231,-0.198073,-0.225505,-0.240593,-0.149817,-0.201842,-0.209004,-0.045610,-0.198073,-0.232546,-0.191834,1
97119,-0.192159,-0.181999,-0.191512,-0.154783,-0.172297,-0.032896,-0.190382,-0.125739,-0.194009,-0.213523,-0.244265,-0.121229,-0.182718,-0.208669,-0.029677,-0.194009,-0.232920,-0.191740,1
97120,-0.221384,-0.189409,-0.203366,-0.180540,-0.186663,-0.055358,-0.210573,-0.166003,-0.205510,-0.227741,-0.243266,-0.150856,-0.201552,-0.211046,-0.050811,-0.205510,-0.234552,-0.199931,1
97121,-0.223063,-0.191623,-0.204462,-0.182680,-0.189377,-0.058271,-0.212217,-0.166133,-0.208150,-0.228994,-0.244249,-0.153265,-0.204662,-0.210942,-0.049798,-0.208150,-0.235025,-0.202535,1

In [38]:
# combine and save training file

test = pd.concat([pd.DataFrame(X_test_scaled), pd.Series(y_test).reset_index(drop=True)], axis=1)
test.columns = renamed_df.columns
test.to_csv(Path("Resources/testing_dataset.csv"), index=False)
test

,current_assets,cost_of_goods_sold,depreciation_and_amortization,EBITDA,inventory,net_income,total_receivables,market_value,net_sales,total_assets,total_long_term_debt,EBIT,gross_profit,total_current_liabilities,retained_earnings,total_revenue,total_liabilities,total_operationg_expenses,status
0,-0.199594,-0.141596,-0.188851,-0.158005,-0.163863,-0.072463,-0.215556,-0.156723,-0.153357,-0.215075,-0.236445,-0.135659,-0.154967,-0.191582,-0.072065,-0.153357,-0.222118,-0.146289,0
1,-0.215443,-0.165890,-0.190679,-0.178147,-0.185888,-0.094894,-0.216647,-0.174752,-0.184221,-0.218643,-0.217145,-0.161139,-0.196437,-0.205648,-0.078922,-0.184221,-0.219449,-0.177933,0
2,-0.183456,-0.151310,-0.178568,-0.200559,-0.168932,-0.134841,-0.188529,-0.158184,-0.172934,-0.214003,-0.235042,-0.194698,-0.195208,-0.187763,-0.174652,-0.172934,-0.218323,-0.160734,0
3,-0.186240,-0.158815,-0.188724,-0.176846,-0.173672,-0.093812,-0.203040,-0.169162,-0.176748,-0.214476,-0.236561,-0.160170,-0.189313,-0.203606,-0.103152,-0.176748,-0.228071,-0.169595,0
4,0.670257,-0.105356,0.417748,0.554675,-0.185888,0.465208,0.257581,0.456596,0.133016,0.674757,0.410821,0.566478,0.692651,0.795436,0.779173,0.133016,0.537594,0.047973,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19666,-0.215226,-0.164916,-0.194334,-0.181122,-0.181608,-0.094862,-0.208887,-0.175621,-0.182696,-0.225049,-0.236255,-0.163658,-0.193834,-0.199539,-0.105437,-0.182696,-0.226363,-0.175619,0
19667,-0.212986,-0.165046,-0.194220,-0.184832,-0.185888,-0.103520,-0.210132,-0.175893,-0.182165,-0.224273,-0.229114,-0.168517,-0.191778,-0.200033,-0.406323,-0.182165,-0.223765,-0.174307,0
19668,-0.210084,-0.161478,-0.193038,-0.182268,-0.162754,-0.098553,-0.216656,-0.172556,-0.178827,-0.223939,-0.236561,-0.165623,-0.189595,-0.205375,-0.102255,-0.178827,-0.228833,-0.170958,0
19669,-0.198817,-0.084905,-0.122853,-0.142938,-0.144338,-0.087156,-0.208782,-0.158340,-0.112154,-0.171970,-0.178470,-0.140385,-0.158953,-0.172050,-0.057595,-0.112154,-0.185918,-0.101810,0
19670,-0.200724,-0.063058,-0.087832,-0.115193,-0.159361,-0.063184,-0.210541,-0.141537,-0.091192,-0.141662,-0.144627,-0.117248,-0.143870,-0.169791,-0.019760,-0.091192,-0.161145,-0.082975,0

In [39]:
# create !!NOT RESAMPLED!! csv file

X_train_scaled = X_scaler.fit_transform(X_train)
train_not_resampled = pd.concat([pd.DataFrame(X_train_scaled), pd.Series(y_train).reset_index(drop=True)], axis=1)
train_not_resampled.columns = renamed_df.columns
train_not_resampled.to_csv(Path("Resources/training_dataset_not_resampled.csv"), index=False)
train_not_resampled

,current_assets,cost_of_goods_sold,depreciation_and_amortization,EBITDA,inventory,net_income,total_receivables,market_value,net_sales,total_assets,total_long_term_debt,EBIT,gross_profit,total_current_liabilities,retained_earnings,total_revenue,total_liabilities,total_operationg_expenses,status
0,-0.148271,-0.106801,-0.143161,-0.001172,-0.150296,0.106236,-0.058680,0.105330,-0.109655,-0.168660,-0.111606,0.064408,-0.093481,-0.162399,-0.018481,-0.109655,-0.146315,-0.125461,0
1,-0.225325,-0.182617,-0.182684,-0.189270,-0.191518,-0.105130,-0.213256,-0.189221,-0.201899,-0.220211,-0.218899,-0.174088,-0.204894,-0.206814,-0.088755,-0.201899,-0.217095,-0.194575,0
2,-0.194187,-0.180970,-0.173350,-0.170809,-0.191518,-0.087520,-0.198739,-0.155280,-0.192585,-0.206605,-0.218942,-0.153197,-0.179605,-0.189529,-0.067614,-0.192585,-0.210845,-0.187493,0
3,-0.225472,-0.182727,-0.182254,-0.193499,-0.191516,-0.112867,-0.213638,-0.187209,-0.202267,-0.219667,-0.218942,-0.180058,-0.205788,-0.201861,-0.090923,-0.202267,-0.215166,-0.194174,0
4,0.362936,-0.105018,-0.084942,0.135647,-0.000242,0.294971,-0.043021,0.375310,-0.017189,0.141274,0.059248,0.224298,0.191615,-0.076212,0.192009,-0.017189,-0.001932,-0.046109,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59006,-0.224841,-0.182815,-0.182817,-0.189411,-0.191518,-0.105244,-0.213641,-0.189216,-0.202266,-0.220081,-0.218942,-0.174220,-0.205580,-0.206912,-0.086730,-0.202266,-0.217191,-0.194969,0
59007,-0.149498,-0.153444,-0.136048,-0.198706,-0.078807,-0.131121,-0.161011,-0.177011,-0.171751,-0.191696,-0.215157,-0.208470,-0.178749,-0.166843,-0.165335,-0.171751,-0.200379,-0.158183,0
59008,-0.223526,-0.179687,-0.181686,-0.203005,-0.191518,-0.127842,-0.213297,-0.184402,-0.202271,-0.219337,-0.218802,-0.193295,-0.212906,-0.205220,-0.105513,-0.202271,-0.216480,-0.192328,0
59009,1.004145,1.004144,0.589128,0.659983,1.504063,0.315861,1.533036,0.084743,0.930268,0.630094,0.604774,0.629126,0.563857,1.107517,0.288940,0.930268,0.760133,0.937813,1
59010,-0.224761,-0.182817,-0.182834,-0.192112,-0.191518,-0.113492,-0.213650,-0.188879,-0.202271,-0.218346,-0.215930,-0.177898,-0.205592,-0.195994,-0.092337,-0.202271,-0.212037,-0.194449,0

In [40]:
# create undersampled csv file

from imblearn.under_sampling import RandomUnderSampler

undersampler = RandomUnderSampler(random_state=1)
X_train_undersampled, y_train_undersampled = undersampler.fit_resample(X_train, y_train)


X_train_scaled_undersampled = X_scaler.fit_transform(X_train_undersampled)
train_undersampled = pd.concat([pd.DataFrame(X_train_scaled_undersampled), pd.Series(y_train_undersampled)], axis=1)
train_undersampled.columns = renamed_df.columns
train_undersampled.to_csv(Path("Resources/training_dataset_undersampled.csv"), index=False)
train_undersampled

,current_assets,cost_of_goods_sold,depreciation_and_amortization,EBITDA,inventory,net_income,total_receivables,market_value,net_sales,total_assets,total_long_term_debt,EBIT,gross_profit,total_current_liabilities,retained_earnings,total_revenue,total_liabilities,total_operationg_expenses,status
0,-0.206767,-0.250677,-0.214013,-0.181187,-0.169212,-0.042883,-0.230208,-0.139236,-0.263617,-0.239231,-0.247364,-0.147503,-0.206216,-0.230656,-0.032736,-0.263617,-0.240199,-0.263929,0
1,-0.214121,-0.251766,-0.213085,-0.201599,-0.168628,-0.063329,-0.232748,-0.156528,-0.265193,-0.241961,-0.225597,-0.176337,-0.208163,-0.215612,-0.127795,-0.265193,-0.225449,-0.260718,0
2,-0.214757,-0.251645,-0.214153,-0.187399,-0.168948,-0.050683,-0.233672,-0.158862,-0.265340,-0.242454,-0.247364,-0.156073,-0.208733,-0.230595,-0.036028,-0.265340,-0.240195,-0.264408,0
3,-0.197465,-0.153444,-0.207896,-0.172291,-0.159882,-0.034439,-0.232674,-0.147635,-0.191859,-0.234127,-0.247364,-0.138119,-0.200706,-0.214519,-0.024015,-0.191859,-0.234937,-0.182071,0
4,-0.208262,-0.241364,-0.204582,-0.179041,-0.168382,-0.049507,-0.215050,-0.152337,-0.254212,-0.231827,-0.236833,-0.149121,-0.199504,-0.221256,-0.041591,-0.254212,-0.231362,-0.253443,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7927,-0.153795,0.118212,-0.202381,-0.175465,-0.161667,-0.044832,-0.078787,-0.154728,0.002255,-0.219746,-0.243072,-0.145222,-0.200866,-0.155924,-0.027064,0.002255,-0.213443,0.046111,1
7928,-0.200482,-0.227433,-0.212039,-0.183550,-0.158723,-0.047504,-0.199939,-0.158431,-0.245379,-0.236156,-0.244376,-0.151753,-0.202252,-0.213860,-0.034737,-0.245379,-0.233472,-0.241978,1
7929,-0.126105,-0.170419,-0.196139,-0.177499,-0.012931,-0.054020,-0.130772,-0.148183,-0.177872,-0.192611,-0.204394,-0.151096,-0.136910,-0.190274,-0.019492,-0.177872,-0.203239,-0.164396,1
7930,-0.201376,-0.251226,-0.214017,-0.191786,-0.169212,-0.060714,-0.230600,-0.156872,-0.263694,-0.238057,-0.247364,-0.162239,-0.205445,-0.228312,-0.376521,-0.263694,-0.239328,-0.261393,1
7931,1.369464,2.010218,0.874402,1.057622,1.788694,0.598744,2.362780,0.214031,1.800018,0.966641,0.774390,1.043904,0.886856,1.680658,0.593916,1.800018,1.042309,1.846629,1